@charset "UTF-8";
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato Bold";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

h1 {
  position: relative;
  overflow: hidden;
  font-size: 44px;
  font-weight: bolder;
  text-align: center;
}

.container {
  margin-left: 0;
  margin-right: 0;
}

.col-sm-3 {
  width: 22.5%;
}
@media (max-width: 990px) {
  .col-sm-3 {
    width: 30%;
  }
}
@media (max-width: 600px) {
  .col-sm-3 {
    display: none;
  }
}
.col-sm-3 .sales {
  height: to-rem(305px);
  margin-bottom: to-rem(25px);
  padding: to-rem(30px);
  border-radius: 10px;
  text-align: center;
  color: white;
}
@media (max-width: 850px) {
  .col-sm-3 .sales {
    margin-bottom: 1rem;
  }
}
.col-sm-3 .sales span {
  font-size: to-rem(100px);
}
@media (max-width: 1280px) {
  .col-sm-3 .sales span {
    font-size: to-rem(70px);
  }
}
.col-sm-3 .sales p {
  margin-top: to-rem(40px);
  font-size: to-rem(30px);
  text-transform: uppercase;
}
.col-sm-3 .follow {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.col-sm-3 .follow h4 {
  margin-bottom: to-rem(14px);
  font-size: to-rem(18px);
}
@media (max-width: 850px) {
  .col-sm-3 .follow h4 {
    font-size: 1rem;
  }
}
.col-sm-3 .follow p {
  margin-bottom: to-rem(20px);
  font-size: to-rem(13px);
}
.col-sm-3 .follow a {
  border-color: #3a5b96;
  background-color: white;
}
.col-sm-3 .follow a svg {
  transition: all 0.5s ease;
  margin-right: 10px;
  color: #3a5b96;
}
.col-sm-3 .follow a:hover {
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  background: #3a5b96;
  color: white;
}
.col-sm-3 .follow a:hover svg {
  color: white;
}
@media (max-width: 850px) {
  .col-sm-3 .follow a:hover svg {
    padding: to-rem(5px) to-rem(14px);
  }
}

.carousel-indificators li {
  transition: opacity 0.3s easy;
  cursor: pointer;
}

div.search {
  position: relative;
}
div.search > input {
  border-radius: 10px;
  border: 0.15rem solid beige;
  padding: to-rem(10px) to-rem(20px);
  width: 100%;
  color: #b2b2b2;
  font-size: 1rem;
  transition: all 0.5s ease;
}
div.search:focus {
  border-color: green;
}
div.search > svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: #4f4e4c;
  width: to-rem(18px);
  height: to-rem(18px);
}

/******************** FOOTER Section ********************/
footer {
  position: absolute;
  width: 100%;
  padding: 100px;
  color: #333333;
  font-size: small;
  background-color: white;
}

.footer-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-col {
  margin: 30px 25px;
}

.footer-img {
  margin: 30px 10px;
}

.footer-title {
  margin-bottom: 20px;
}

a {
  color: black;
  text-decoration-line: none;
}
a > svg {
  color: #b2b2b2;
}

/******************** ERROR Section ********************/
/* Style the list */
ul.breadcrumb {
  text-align: center;
  font-size: small;
  padding: 10px 16px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #c8c8c8c8;
  content: "/ ";
}

/* Add a color to all links inside the list */
a {
  color: #85bc22;
  text-decoration: none;
}

/* Add a color on mouse-over */
a:hover {
  color: #6e991d;
  text-decoration: underline;
}

.error-row {
  padding: 40px;
  /* Поля вокруг текста */
  margin: auto;
  /* Выравниваем по центру */
  background: white;
  /* Цвет фона */
  border-radius: 10px;
  display: inline-block;
}

.error-col {
  margin: 30px 25px;
}

.errror-title {
  margin-bottom: 20px;
}

.error-text {
  color: #555555;
  font-size: 15px;
  letter-spacing: 0.5px;
}

#oops {
  font-family: "Lato Bold", sans-sefir;
  color: #85bc22;
  font-size: 113px;
  text-align: center;
}

/* Floated Columns ------------------ */
.first,
.second {
  width: 46.5%;
}

.first {
  float: left;
  width: 46%;
}

.second {
  float: right;
  width: 54%;
}

/* Float Clearfix ------------------ */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.search:after {
  content: "";
  clear: both;
  display: table;
}

.search form {
  width: auto;
  float: left;
  margin-right: 30px;
}

.search input {
  width: 570px;
  height: 42px;
  padding-left: 30px;
  border-radius: 42px;
  border: 2px solid #f1edea;
  background: white;
  outline: none;
  position: relative;
  transition: 0.3s linear;
}

.search input:focus {
  width: 300px;
}

.search button {
  background: white;
  position: absolute;
  cursor: s-resize;
  margin-left: -50px;
  height: 40px;
  width: 47px;
  background: blue;
  color: white;
  border: 0;
}

.search button:before {
  content: "";
  font-family: FontAwesome;
  color: #F9F0DA;
  font-size: 20px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
