@import "variables.scss";

* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: $font-primary, Arial, Helvetica, sans-serif;
	line-height: 1.2;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
}

main {
	padding-top: 5.9285714286rem;
	section.slider {
		.wrapper {
			.slider-dots {
				div.img {
					a {
						text-transform: uppercase;
						font-size: 1.1428571429rem;
						padding: 0.5714285714rem 1.4285714286rem;
						border-width: 0.15rem;
						border-style: solid;
						border-radius: 35px;
						cursor: pointer;
						background-color: transparent;
						border-color: $color-primary;
						color: $color-primary;
						font-size: 1rem;
						padding: 0.5714285714rem 2.5rem;
						opacity: 0.7;
						&:hover {
							opacity: 1;
						}
					}
					padding: 5rem 4.2857142857rem 7.4285714286rem;
					border-radius: 10px;
					display: flex;
					flex-direction: column;
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					visibility: hidden;
					transition: all 0.8s ease;
					* {
						color: $color-primary;
					}
					&:nth-child(n) {
						align-items: flex-start;
						text-align: left;
					}
					&:nth-child(2n) {
						align-items: center;
						text-align: center;
					}
					&:nth-child(3n) {
						align-items: flex-end;
						text-align: right;
					}
					h3 {
						width: 50%;
						font-size: 2.1428571429rem;
						margin-bottom: 7.8571428571rem;
					}
					p {
						width: 40%;
						margin-bottom: 2.1428571429rem;
					}
				}
				width: 75%;
				margin-right: 2.5%;
				position: relative;
				div.img.active {
					opacity: 1;
					visibility: visible;
				}
				ul.dots {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: 2.1428571429rem;
					li {
						display: inline-block;
						margin: 0 0.7142857143rem;
						button {
							display: inline-block;
							padding: 0.15rem;
							border-radius: 50%;
							opacity: 0.5;
							background-color: $color-primary;
							border: solid 0.25rem transparent;
							cursor: pointer;
							&:hover {
								opacity: 1;
							}
						}
						button.active {
							opacity: 1;
							background-color: transparent;
							border: solid 0.25rem $color-primary;
						}
					}
				}
			}
			div.advert {
				div.follow {
					a {
						text-transform: uppercase;
						font-size: 1.1428571429rem;
						padding: 0.6rem 2rem;
						border: 2px solid $color-blue;
						cursor: pointer;
						border-radius: 50px;
						background-color: $color-primary;
						text-decoration: none;
						svg {
							transition: all 0.5s ease;
							margin-right: 10px;
							color: $color-blue;
						}
						&:hover {
							-webkit-background-clip: unset;
							-webkit-text-fill-color: unset;
							background: $color-blue;
							color: $color-primary;
							svg {
								color: $color-primary;
							}
						}
					}
					width: 90%;
					margin: 0 auto;
					text-align: center;
					color: $color-secondary;
					// * {
					// 	background: linear-gradient(to top, #08d2bd, #1b9bb2);
					// 	-webkit-background-clip: text;
					// 	-webkit-text-fill-color: transparent;
					// }
					h4 {
						margin-bottom: 1rem;
						font-size: 1.2857142857rem;
					}
					p {
						margin-bottom: 1.4285714286rem;
						font-size: 0.9285714286rem;
						width: 80%;
					    margin-left: 27px;
					}
				}
				width: 22.5%;
				div.img {
					height: 21.7857142857rem;
					margin-bottom: 1.7857142857rem;
					padding: 2.1428571429rem;
					border-radius: 10px;
					text-align: center;
					* {
						color: $color-primary;
					}
					span {
						font-size: 7.1428571429rem;
						font-family: $font-accent;
					}
					p {
						margin-top: 2.8571428571rem;
						font-size: 2.1428571429rem;
						text-transform: uppercase;
					}
				}
			}
			display: flex;
			padding-top: 2rem;
			padding-bottom: 2rem;
			height: 36.0714285714rem;
		}
	}
	section.pop-items {
		.wrapper {
			button#loadMore {
				text-transform: uppercase;
				font-size: 1.1428571429rem;
				padding: 0.5714285714rem 1.4285714286rem;
				border-width: 0.15rem;
				border-style: solid;
				border-radius: 35px;
				cursor: pointer;
				margin-top: 3.6428571429rem;
				padding: 0.7142857143rem 6.4285714286rem;
				background-color: $color-primary;
				border-color: inherit;
				color: inherit;
				font-size: 0.8rem;
				.svg-inline--fa.fa-w-16 {
					width: 1em;
					transform: rotate(100deg);
				}
			}
			padding-top: 2.1428571429rem;
			padding-bottom: 4.2857142857rem;
			h2 {
				padding: 1.0714285714rem 0;
				background-color: $color-primary;
				font-family: $font-accent;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				text-align: center;
				position: relative;
				&:before {
					position: absolute;
					bottom: 50%;
					right: 0;
					content: "";
					width: 40%;
					height: 100%;
					border-bottom: 2px solid $color-primary;
					opacity: 0.1;
				}
				&:after {
					position: absolute;
					top: 50%;
					left: 0;
					content: "";
					width: 40%;
					background-color: inherit;
					border-bottom: 2px solid $color-primary;
					opacity: 0.1;
				}
			}
			div.items {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				margin: 0 -1%;
				.item {
					width: 23%;
					margin: 1%;
					padding-bottom: 1rem;
					background-color: $color-primary;
					border-radius: 12px;
					text-align: center;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					position: relative;
					&:hover {
						.overlay {
							opacity: 0.9;
							visibility: visible;
						}
					}
					.img {
						height: 18.5714285714rem;
						border-radius: 10px 10px 0 0;
					}
					>a {
						width: 100%;
						height: 18.5714285714rem;
						border-radius: 10px 10px 0 0;
					}
					h4.name {
						font-size: 1.1428571429rem;
						width: 90%;
						margin: 1rem auto;
					}
					span {
						display: inline-block;
						font-size: 1rem;
						margin-bottom: 1rem;
					}
					.paired {
						display: flex;
						justify-content: center;
						align-content: center;
						span {
							margin: 0;
							padding: 0.7142857143rem 1.2142857143rem;
							border: 3px groove rgba(0, 0, 0, 0.1);
							border-radius: 30px 0 0 30px;
							border-right: none;
							a {
								color: #24c36c;
							}
						}
						button {
							padding: 0.7142857143rem 1.2142857143rem;
							border: 3px groove rgba(0, 0, 0, 0.1);
							border-radius: 0 30px 30px 0;
							color: #000;
							font-size: 1rem;
							background-color: transparent;
							cursor: pointer;
							text-transform: uppercase;
							&:hover {
								background: linear-gradient(to top, #1cc167, #2ed3a2);
								color: $color-primary;
							}
						}
					}
					.overlay {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						background: linear-gradient(to top, #1cc167, #2ed3a2);
						border-radius: inherit;
						opacity: 0;
						visibility: hidden;
						transition: all 0.4s ease;
						button {
							position: absolute;
							top: 50%;
							background-color: $color-primary;
							padding: 2.2142857143rem;
							border-radius: 100%;
							border: 1px solid $color-primary;
							cursor: pointer;
							&:hover {
								background-color: #f2f2f2;
								box-shadow: 0 0 20px #0f6837;
							}
							img {
								background-color: transparent;
								width: 2rem;
								height: 2rem;
							}
						}
						button.addToCart {
							left: 15%;
							transform: translate(-15%, -50%);
						}
						button.addToWishlist {
							right: 15%;
							transform: translate(15%, -50%);
						}
					}
				}
				.item.com {
					padding-bottom: 0;
					.img {
						height: 100%;
						border-radius: 10px;
					}
					.com-overlay {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						background: linear-gradient(to top, #675b99, #dc5987);
						border-radius: inherit;
						opacity: 0.8;
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
						padding: 2.5rem 2.1428571429rem;
						text-align: left;
						* {
							color: $color-primary;
						}
						blockquote {
							width: 70%;
							font-size: 1.1428571429rem;
							line-height: 1.5;
							p {
								margin-top: 2.1428571429rem;
								font-size: 1rem;
								text-transform: uppercase;
								img {
									margin: 0 0.7rem;
									transform: scale(1.8);
								}
							}
						}
					}
				}
			}
			ul.future-dots {
				display: none;
				margin-top: 1.4285714286rem;
				padding: 1rem;
				>li {
					display: inline-block;
					margin: 0 0.5rem;
					padding: 0.15rem;
					background-color: $color-primary;
					border-radius: 50%;
					border: 0.25rem solid transparent;
					cursor: pointer;
					opacity: 0.5;
					transition: all 0.8s ease;
					&:hover {
						opacity: 1;
					}
				}
				>li.active {
					opacity: 1;
					background-color: transparent;
					border: solid 0.25rem $color-primary;
				}
			}
			button#loadMore.enabled {
				color: $color-primary;
				background-color: transparent;
				border-color: $color-primary;
				&:hover {
					background-color: $color-primary;
					border-color: inherit;
					color: inherit;
				}
			}
		}
		background-color: #262a32;
	}
	section.banner {
		padding: 12.16796875% 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		* {
			color: $color-primary;
		}
		div.content {
			text-align: center;
			h2 {
				margin-bottom: 2rem;
				font-size: 3.3571428571rem;
				font-family: $font-accent;
			}
			p {
				width: 26%;
				margin: 0 auto;
				span {
					color: #ff974e;
				}
			}
		}
	}
	section.feat-prod {
		background-color: #262a32;
		.wrapper {
			padding-top: 2.5rem;
			padding-bottom: 4.5714285714rem;
			h2 {
				font-size: 2.8571428571rem;
				color: $color-primary;
			}
			p {
				font-size: 1.2857142857rem;
				color: $color-primary;
			}
			div.slider-arrows {
				div.arrows {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 50%;
					margin: 0 auto;
					padding: 2.5rem;
					* {
						margin: 0 0.3rem;
						color: $color-primary;
					}
					button {
						background-color: #383d49;
						font-size: 1rem;
						border: none;
						padding: 0.4285714286rem;
						cursor: pointer;
						&:hover {
							background-color: #474f5d;
						}
					}
					div {
						width: 45%;
						height: 2px;
						background-color: $color-primary;
					}
					p {
						font-size: 1.4rem;
						font-weight: bold;
						font-style: italic;
						letter-spacing: 2.5px;
					}
				}
				div.items {
					position: relative;
					.screen {
						width: 100%;
						display: flex;
						flex-wrap: nowrap;
						justify-content: center;
						position: absolute;
						top: 0;
						left: 50%;
						transform: translateX(-50%);
						opacity: 0;
						visibility: hidden;
						transition: all 0.5s ease;
						.item {
							width: 23%;
							margin: 0 1%;
							padding-bottom: 1.5rem;
							background-color: $color-primary;
							border-radius: 12px;
							text-align: center;
							.img {
								height: 18.5714285714rem;
								border-radius: 10px 10px 0 0;
							}
							h4.name {
								width: 70%;
								margin: 1rem auto;
							}
							a {
								color: #84bc22;
							}
						}
					}
					.screen.active {
						position: relative;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
	section.benefits {
		background-color: #45413e;
		.wrapper {
			padding: 3.2142857143rem 0 3.2142857143rem;
			display: flex;
			justify-content: space-between;
			div.card {
				width: 27%;
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				img {
					width: 12rem;
					margin-right: 2.5rem;
				}
				h4 {
					font-family: $font-accent;
					background: $color-primary;
					margin-bottom: 1.6428571429rem;
					text-transform: uppercase;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					text-align: left;
				}
				p {
					background: $color-brown;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					text-align: left;
				}
			}
		}
	}
}
.wrapper {
	width: 1280px;
	margin: 0 auto;
	text-align: center;
}
section {
	overflow: hidden;
}
a {
	display: inline-block;
	transition: all 0.5s ease;
}
button {
	display: inline-block;
	transition: all 0.5s ease;
}
input[type="submit"] {
	display: inline-block;
	transition: all 0.5s ease;
}
.img {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
}
#signinForm {
	input[type="submit"]#login {
		text-transform: uppercase;
		font-size: 1.1428571429rem;
		padding: 0.5714285714rem 1.4285714286rem;
		border-width: 0.15rem;
		border-style: solid;
		border-radius: 35px;
		cursor: pointer;
		display: block;
		margin: 4.2857142857rem auto 1.5714285714rem;
		padding: 0.5714285714rem 5rem;
		border-color: transparent;
		color: $color-primary;
		background-color: #84bc22;
		&:hover {
			color: #84bc22;
			border-color: #84bc22;
			background-color: transparent;
		}
	}
	position: absolute;
	width: 30%;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 200;
	background-color: $color-primary;
	padding: 3.5714285714rem;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease;
	cursor: initial;
	text-align: center;
	border-radius: 10px;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	* {
		user-select: none;
	}
	h3 {
		color: #45413e;
		font-size: 2.1428571429rem;
		margin-bottom: 3rem;
	}
	label {
		color: #45413e;
		font-size: 1rem;
		margin-bottom: 1rem;
		float: left;
		display: inline-block;
	}
	a {
		display: inline-block;
		color: #84bc22;
		font-size: 0.8571428571rem;
		&:hover {
			color: #9fdb36;
		}
	}
	div.forgot {
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		>a {
			float: right;
		}
	}
	input[type="email"] {
		width: 100%;
		border: 0.15rem solid #d7d7d7;
		background-color: $color-primary;
		padding: 0.8571428571rem 1.4285714286rem;
		border-radius: 35px;
		transition: all 0.5s ease;
		margin-bottom: 2.1428571429rem;
		&:focus {
			&:invalid {
				border-color: red;
			}
			&:empty {
				border-color: red;
			}
			&:valid {
				border-color: #84bc22;
			}
		}
	}
	input[type="password"] {
		width: 100%;
		border: 0.15rem solid #d7d7d7;
		background-color: $color-primary;
		padding: 0.8571428571rem 1.4285714286rem;
		border-radius: 35px;
		transition: all 0.5s ease;
		&:focus {
			&:invalid {
				border-color: red;
			}
			&:empty {
				border-color: red;
			}
			&:valid {
				border-color: #84bc22;
			}
		}
	}
	input[type="text"] {
		width: 100%;
		border: 0.15rem solid #d7d7d7;
		background-color: $color-primary;
		padding: 0.8571428571rem 1.4285714286rem;
		border-radius: 35px;
		transition: all 0.5s ease;
		&:focus {
			&:invalid {
				border-color: red;
			}
			&:empty {
				border-color: red;
			}
			&:valid {
				border-color: #84bc22;
			}
		}
	}
	div.password {
		position: relative;
		span.showPassword {
			cursor: pointer;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 1rem;
			svg {
				color: #4f4e4c;
				width: 1.2857142857rem;
				height: 1.2857142857rem;
			}
		}
	}
}
div#cookies {
	div.subwrapper {
		button#accept-cookies {
			text-transform: uppercase;
			font-size: 1.1428571429rem;
			padding: 0.5714285714rem 1.4285714286rem;
			border-width: 0.15rem;
			border-style: solid;
			border-radius: 35px;
			cursor: pointer;
			min-width: 20%;
			align-self: flex-end;
			padding: 0.6428571429rem 3.2857142857rem;
			border-color: transparent;
			color: $color-primary;
			background-color: #84bc22;
			&:hover {
				color: #84bc22;
				border-color: #84bc22;
				background-color: transparent;
			}
		}
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		h6 {
			color: #84bc22;
			margin-bottom: 1.1428571429rem;
			font-size: 1.1428571429rem;
			line-height: 1.5;
		}
		a {
			color: #84bc22;
		}
		p {
			display: inline-block;
			width: 80%;
			color: #45413e;
			font-size: 1rem;
			line-height: 1.71;
		}
		span#close-cookies {
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
			transition: all 0.3s ease;
			svg {
				font-size: 1.5rem;
			}
			&:hover {
				svg {
					path {
						fill: #84bc22;
					}
				}
			}
		}
	}
	position: absolute;
	width: 60%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 200;
	background-color: $color-primary;
	padding: 1.7857142857rem;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease;
	cursor: initial;
	border-radius: 10px;
}
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	overflow: hidden;
	background-color: #000;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
}
#overlay.active {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.74);
	visibility: visible;
}
#signinForm.active {
	opacity: 1;
	visibility: visible;
}
div#cookies.active {
	opacity: 1;
	visibility: visible;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 60;
	background-color: $color-primary;
	border-bottom: 0.15rem solid #ccc;
	>.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		button#hamburger {
			background-color: transparent;
			border: none;
			margin-right: 1rem;
			width: 4.1rem;
			height: 4.1rem;
			font-size: 1.7rem;
			color: #45413e;
			cursor: pointer;
			display: none;
			position: relative;
			>span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				visibility: hidden;
			}
			>span.active {
				opacity: 1;
				visibility: visible;
			}
			&:hover {
				color: #84bc22;
			}
		}
		a.logo {
			display: flex;
			align-self: center;
			img {
				width: 4.5714285714rem;
				height: 4.5714285714rem;
				margin-right: 5px;
			}
			div {
				h1 {
					font-size: 2.2857142857rem;
					letter-spacing: 6.33px;
					color: #011847;
				}
				h2 {
					font-size: 1.2857142857rem;
					color: #84bc22;
				}
			}
		}
		nav {
			>ul {
				display: flex;
				align-items: flex-end;
				>li {
					display: inline-block;
					padding: 1.0714285714rem 1.4285714286rem 2.1428571429rem 1.4285714286rem;
					transition: all 0.3s ease;
					user-select: none;
					&:hover {
						color: $color-primary;
					}
					>h2 {
						width: 100%;
						font-size: 1rem;
						>span.arrow-down {
							font-size: 0.7rem;
							margin-left: 0.5714285714rem;
							color: #45413e;
							opacity: 0.7;
						}
					}
				}
			}
			display: flex;
			justify-self: flex-end;
			justify-content: space-around;
			padding-top: 1rem;
			ul.nav-main {
				transition: all 0.3s ease;
				>li {
					text-transform: uppercase;
					border-bottom: 0.3571428571rem solid transparent;
				}
				>li.menu-open {
					z-index: 20;
					.menu {
						background-color: #262a32;
						position: absolute;
						opacity: 0;
						visibility: hidden;
						left: 0;
						right: 0;
						top: 5.9285714286rem;
						z-index: 50;
						transition: all 0.4s ease;
						>.wrapper {
							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							justify-content: space-between;
							padding-top: 2.1428571429rem;
							padding-bottom: 2.1428571429rem;
						}
						* {
							font-size: 1rem;
							color: $color-primary;
							text-align: left;
						}
						h3 {
							padding-bottom: 0.7142857143rem;
							>span.arrow-down {
								color: $color-primary;
								font-size: 0.7rem;
								float: right;
								transition: all 0.4s ease;
								opacity: 0;
							}
						}
						li {
							padding: 0.4285714286rem 0;
							text-transform: capitalize;
							transition: all 0.2s ease;
							&:hover {
								a {
									color: #84bc22;
								}
							}
						}
						div.prod-cat {
							width: 40%;
							display: flex;
							flex-direction: column;
							>div {
								display: flex;
								flex-direction: row;
								flex-wrap: nowrap;
								justify-content: space-between;
							}
						}
						div.sale {
							width: 10%;
							display: flex;
							flex-direction: column;
						}
						img {
							width: 30%;
							height: 100%;
							border-radius: 10px;
						}
					}
				}
			}
			ul.nav-lang {
				margin-right: 3.5714285714rem;
				* {
					color: #45413e;
				}
				>li {
					border-bottom: 5px solid transparent;
					color: rgba(69, 65, 62, 0.5);
					&:hover {
						background-color: #262a32;
						border-bottom: 5px solid #84bc22;
						color: $color-primary;
						* {
							color: $color-primary;
						}
					}
				}
				>li.lang-open {
					z-index: 20;
					.lang-menu {
						background-color: #262a32;
						position: absolute;
						opacity: 0;
						visibility: hidden;
						top: 5.9285714286rem;
						z-index: 10;
						transition: all 0.4s ease;
						width: 5.5714285714rem;
						transform: translateX(-1.2857142857rem);
						li {
							padding: 0.4285714286rem 0;
							text-transform: capitalize;
							transition: all 0.2s ease;
							cursor: pointer;
							&:hover {
								opacity: 0.6;
							}
						}
					}
					.currency-menu {
						background-color: #262a32;
						position: absolute;
						opacity: 0;
						visibility: hidden;
						top: 5.9285714286rem;
						z-index: 10;
						transition: all 0.4s ease;
						width: 9.2857142857rem;
						transform: translateX(-30%);
						li {
							padding: 0.4285714286rem 0;
							text-transform: capitalize;
							transition: all 0.2s ease;
							cursor: pointer;
							&:hover {
								opacity: 0.6;
							}
						}
					}
					&:hover {
						.lang-menu {
							opacity: 1;
							visibility: visible;
						}
					}
				}
				>li.currency-open {
					z-index: 20;
					.lang-menu {
						background-color: #262a32;
						position: absolute;
						opacity: 0;
						visibility: hidden;
						top: 5.9285714286rem;
						z-index: 10;
						transition: all 0.4s ease;
						width: 5.5714285714rem;
						transform: translateX(-1.2857142857rem);
						li {
							padding: 0.4285714286rem 0;
							text-transform: capitalize;
							transition: all 0.2s ease;
							cursor: pointer;
							&:hover {
								opacity: 0.6;
							}
						}
					}
					.currency-menu {
						background-color: #262a32;
						position: absolute;
						opacity: 0;
						visibility: hidden;
						top: 5.9285714286rem;
						z-index: 10;
						transition: all 0.4s ease;
						width: 9.2857142857rem;
						transform: translateX(-30%);
						li {
							padding: 0.4285714286rem 0;
							text-transform: capitalize;
							transition: all 0.2s ease;
							cursor: pointer;
							&:hover {
								opacity: 0.6;
							}
						}
					}
					&:hover {
						.currency-menu {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
			ul.nav-manage {
				>li {
					button {
						background-color: transparent;
						border: none;
						position: relative;
						cursor: pointer;
						svg {
							color: #45413e;
							opacity: 0.5;
							font-size: 1.7rem;
							path {
								transition: all 0.3s ease;
							}
							&:hover {
								path {
									color: #84bc22;
								}
							}
						}
					}
					a {
						background-color: transparent;
						border: none;
						position: relative;
						cursor: pointer;
						svg {
							color: #45413e;
							opacity: 0.5;
							font-size: 1.7rem;
							path {
								transition: all 0.3s ease;
							}
							&:hover {
								path {
									color: #84bc22;
								}
							}
						}
					}
					button#wishlist {
						>span {
							position: absolute;
							display: inline-block;
							top: -40%;
							right: -65%;
							font-size: 0.7rem;
							color: #84bc22;
							background-color: $color-primary;
							border: 0.15rem solid #84bc22;
							padding: 0.2142857143rem 0.4285714286rem;
							border-radius: 50%;
							z-index: 15;
						}
					}
					button#cart {
						>span {
							position: absolute;
							display: inline-block;
							top: -40%;
							right: -65%;
							font-size: 0.7rem;
							color: #84bc22;
							background-color: $color-primary;
							border: 0.15rem solid #84bc22;
							padding: 0.2142857143rem 0.4285714286rem;
							border-radius: 50%;
							z-index: 15;
						}
					}
					a#wishlist {
						>span {
							position: absolute;
							display: inline-block;
							top: -40%;
							right: -65%;
							font-size: 0.7rem;
							color: #84bc22;
							background-color: $color-primary;
							border: 0.15rem solid #84bc22;
							padding: 0.2142857143rem 0.4285714286rem;
							border-radius: 50%;
							z-index: 15;
						}
					}
					a#cart {
						>span {
							position: absolute;
							display: inline-block;
							top: -40%;
							right: -65%;
							font-size: 0.7rem;
							color: #84bc22;
							background-color: $color-primary;
							border: 0.15rem solid #84bc22;
							padding: 0.2142857143rem 0.4285714286rem;
							border-radius: 50%;
							z-index: 15;
						}
					}
				}
			}
		}
	}
}
footer {
	.wrapper {
		padding-top: 2.2857142857rem;
		padding-bottom: 2.7142857143rem;
		display: flex;
		justify-content: space-between;
		* {
			text-align: left;
			font-size: 0.9285714286rem;
			color: #45413e;
		}
		h3 {
			margin-bottom: 1rem;
			text-transform: uppercase;
			color: #45413e;
			font-weight: 600;
			background: linear-gradient(to top, #08d2bd, #1b9bb2);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-weight: normal;
			span.arrow-down {
				color: #262a32;
				font-size: 0.9rem;
				float: right;
				transition: all 0.4s ease;
				opacity: 0;
			}
		}
		li {
			margin: 0.7142857143rem 0;
		}
		.contact {
			width: 17%;
			>span {
				a {
					margin-top: 1.2rem;
					color: #84bc22;
					font-weight: bold;
					font-size: 1rem;
					&:hover {
						color: #a9df4c;
					}
				}
			}
			h3 {
				margin-top: 2rem;
				margin-bottom: 0;
			}
			ul {
				li {
					margin-bottom: 1.4285714286rem;
				}
			}
		}
		.categories {
			width: 40%;
			>div {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				ul {
					li {
						a {
							opacity: 0.7;
							&:hover {
								color: #84bc22;
							}
						}
					}
				}
			}
		}
		.about {
			width: 10%;
			ul {
				li {
					a {
						opacity: 0.7;
						&:hover {
							color: #84bc22;
						}
					}
				}
			}
		}
		.social {
			ul {
				li {
					display: inline-block;
					margin: 0 0.8571428571rem;
					a {
						svg {
							color: #45413e;
							opacity: 0.5;
							font-size: 1.2rem;
							path {
								transition: color 0.3s ease;
							}
							&:hover {
								path {
									color: #84bc22;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1010px) {
	body {
		padding-top: 78px;
	}
	header {
		>.wrapper {
			padding-top: 1rem;
			flex-direction: column;
			align-items: center;
			nav {
				ul.nav-main {
					>li.menu-open {
						.menu {
							top: 161px;
						}
					}
				}
				ul.nav-lang {
					>li.lang-open {
						.lang-menu {
							top: 161px;
						}
						.currency-menu {
							top: 161px;
						}
					}
					>li.currency-open {
						.lang-menu {
							top: 161px;
						}
						.currency-menu {
							top: 161px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 850px) {
	body {
		padding-bottom: 53px;
	}
	main {
		padding: 0;
		section.slider {
			.wrapper {
				div.advert {
					div.img {
						margin-bottom: 1rem;
					}
					div.follow {
						h4 {
							font-size: 1rem;
						}
						a {
							padding: 0.3571428571rem 1rem;
						}
					}
				}
			}
		}
	}
	header {
		>.wrapper {
			padding: 1rem 0;
			flex-direction: row;
			justify-content: flex-start;
			button#hamburger {
				display: block;
			}
			a.logo {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			nav {
				>ul {
					>li {
						>h2 {
							&:hover {
								color: #84bc22;
								>span.arrow-down {
									color: #84bc22;
								}
							}
							>span.arrow-down {
								margin-left: 0;
								float: right;
								color: $color-primary;
								transition: all 0.4s ease;
							}
							>span.arrow-down.active {
								transform: rotate(180deg);
								color: #84bc22;
							}
						}
					}
				}
				ul.nav-main {
					position: absolute;
					top: 86px;
					left: 0;
					transform: translate(-50%, 0);
					right: 0;
					padding-top: 1rem;
					flex-direction: column;
					align-items: flex-start;
					background-color: #262a32;
					opacity: 0;
					visibility: hidden;
					* {
						color: $color-primary;
					}
					>li {
						width: 100%;
						padding-left: 2%;
						padding-right: 2%;
						text-align: left;
						display: flex;
						justify-content: space-between;
						align-items: flex-start;
						flex-wrap: wrap;
						cursor: pointer;
						>h2 {
							cursor: pointer;
							&:hover {
								color: #84bc22;
							}
							>span {
								&:hover {
									color: #84bc22;
								}
							}
						}
					}
					>li.menu-open {
						.menu {
							top: 0;
							z-index: 100;
							width: 100%;
							>.wrapper {
								flex-direction: column;
								padding: 1rem 0 1rem;
							}
							h3 {
								cursor: pointer;
								transition: all 0.3s ease;
								&:hover {
									color: #84bc22;
									>span {
										color: #84bc22;
									}
								}
								span.arrow-down {
									opacity: 0.7;
								}
								span.arrow-down.active {
									color: #84bc22;
									transform: rotate(180deg);
								}
							}
							div.prod-cat {
								width: 100%;
								padding: 0.5rem;
								>div {
									padding: 0 1rem;
									visibility: hidden;
									opacity: 0;
									position: absolute;
									left: 0;
									transform: translateX(-10%);
									right: 0;
									top: 0;
									z-index: 70;
									transition: all 0.4s ease;
								}
								>div.active {
									position: relative;
									transform: translateX(0);
									opacity: 1;
									visibility: visible;
								}
							}
							div.sale {
								width: 100%;
								padding: 0.5rem;
								>ul {
									padding: 0 1rem;
									visibility: hidden;
									opacity: 0;
									position: absolute;
									left: 0;
									transform: translateX(-10%);
									right: 0;
									top: 0;
									z-index: 70;
									transition: all 0.4s ease;
								}
								>ul.active {
									position: relative;
									transform: translateX(0);
									opacity: 1;
									visibility: visible;
								}
							}
							img {
								align-self: center;
								width: 60%;
							}
						}
						.menu.active {
							position: relative;
							opacity: 1;
							visibility: visible;
						}
					}
				}
				ul.nav-main.active {
					transform: translate(0, 0);
					opacity: 1;
					visibility: visible;
				}
				ul.nav-lang {
					display: none;
				}
				ul.nav-manage {
					position: fixed;
					bottom: 0;
					left: 0;
					right: 0;
					z-index: 20;
					justify-content: center;
					background-color: #262a32;
					>li {
						padding: 0;
						button {
							padding: 1.4285714286rem;
							svg {
								color: $color-primary;
							}
						}
						a {
							padding: 1.4285714286rem;
							svg {
								color: $color-primary;
							}
						}
						button#wishlist {
							>span {
								top: 15%;
								right: 15%;
								background-color: transparent;
							}
						}
						button#cart {
							>span {
								top: 15%;
								right: 15%;
								background-color: transparent;
							}
						}
						a#wishlist {
							>span {
								top: 15%;
								right: 15%;
								background-color: transparent;
							}
						}
						a#cart {
							>span {
								top: 15%;
								right: 15%;
								background-color: transparent;
							}
						}
					}
				}
			}
		}
	}
	footer {
		.wrapper {
			flex-direction: column;
			>div.contact {
				width: 100%;
				position: relative;
				margin-bottom: 1rem;
				ul.contact-menu {
					transition-property: transform, opacity;
					transition-duration: 0.3s;
					transition-timing-function: ease;
					position: absolute;
					top: 1rem;
					transform: translateY(-10%);
					opacity: 0;
					visibility: hidden;
				}
				div.categories-menu {
					transition-property: transform, opacity;
					transition-duration: 0.3s;
					transition-timing-function: ease;
					position: absolute;
					top: 1rem;
					transform: translateY(-10%);
					opacity: 0;
					visibility: hidden;
				}
				ul.about-menu {
					transition-property: transform, opacity;
					transition-duration: 0.3s;
					transition-timing-function: ease;
					position: absolute;
					top: 1rem;
					transform: translateY(-10%);
					opacity: 0;
					visibility: hidden;
				}
				ul.contact-menu.active {
					transform: translateY(0);
					position: relative;
					opacity: 1;
					visibility: visible;
				}
				div.categories-menu.active {
					transform: translateY(0);
					position: relative;
					opacity: 1;
					visibility: visible;
				}
				ul.about-menu.active {
					transform: translateY(0);
					position: relative;
					opacity: 1;
					visibility: visible;
				}
			}
			div.categories {
				width: 100%;
				position: relative;
				margin-bottom: 1rem;
				ul.contact-menu {
					transition-property: transform, opacity;
					transition-duration: 0.3s;
					transition-timing-function: ease;
					position: absolute;
					top: 1rem;
					transform: translateY(-10%);
					opacity: 0;
					visibility: hidden;
				}
				div.categories-menu {
					transition-property: transform, opacity;
					transition-duration: 0.3s;
					transition-timing-function: ease;
					position: absolute;
					top: 1rem;
					transform: translateY(-10%);
					opacity: 0;
					visibility: hidden;
				}
				ul.about-menu {
					transition-property: transform, opacity;
					transition-duration: 0.3s;
					transition-timing-function: ease;
					position: absolute;
					top: 1rem;
					transform: translateY(-10%);
					opacity: 0;
					visibility: hidden;
				}
				ul.contact-menu.active {
					transform: translateY(0);
					position: relative;
					opacity: 1;
					visibility: visible;
				}
				div.categories-menu.active {
					transform: translateY(0);
					position: relative;
					opacity: 1;
					visibility: visible;
				}
				ul.about-menu.active {
					transform: translateY(0);
					position: relative;
					opacity: 1;
					visibility: visible;
				}
			}
			div.about {
				width: 100%;
				position: relative;
				margin-bottom: 1rem;
				ul.contact-menu {
					transition-property: transform, opacity;
					transition-duration: 0.3s;
					transition-timing-function: ease;
					position: absolute;
					top: 1rem;
					transform: translateY(-10%);
					opacity: 0;
					visibility: hidden;
				}
				div.categories-menu {
					transition-property: transform, opacity;
					transition-duration: 0.3s;
					transition-timing-function: ease;
					position: absolute;
					top: 1rem;
					transform: translateY(-10%);
					opacity: 0;
					visibility: hidden;
				}
				ul.about-menu {
					transition-property: transform, opacity;
					transition-duration: 0.3s;
					transition-timing-function: ease;
					position: absolute;
					top: 1rem;
					transform: translateY(-10%);
					opacity: 0;
					visibility: hidden;
				}
				ul.contact-menu.active {
					transform: translateY(0);
					position: relative;
					opacity: 1;
					visibility: visible;
				}
				div.categories-menu.active {
					transform: translateY(0);
					position: relative;
					opacity: 1;
					visibility: visible;
				}
				ul.about-menu.active {
					transform: translateY(0);
					position: relative;
					opacity: 1;
					visibility: visible;
				}
			}
			>div.contact.contact {
				margin-bottom: 2rem;
			}
			div.categories.contact {
				margin-bottom: 2rem;
			}
			div.about.contact {
				margin-bottom: 2rem;
			}
			h3 {
				cursor: pointer;
				transition: all 0.3s ease;
				&:hover {
					color: #84bc22;
					span.arrow-down {
						color: #84bc22;
					}
				}
				span.arrow-down {
					opacity: 0.7;
				}
				span.arrow-down.active {
					color: #84bc22;
					transform: rotate(180deg);
				}
			}
			.social {
				ul {
					text-align: center;
					padding-top: 1rem;
				}
			}
		}
	}
}
@media (max-width: 1280px) {
	.wrapper {
		width: 96%;
	}
	#signinForm {
		width: 50%;
	}
	header {
		>.wrapper {
			nav {
				>ul {
					>li {
						padding: 1.0714285714rem 1.0714285714rem 2.1428571429rem 1.0714285714rem;
					}
				}
				justify-self: center;
				justify-content: space-between;
				ul.nav-lang {
					margin-right: 0;
				}
			}
		}
	}
	main {
		section.slider {
			.wrapper {
				.slider-dots {
					div.img {
						h3 {
							width: 70%;
						}
						p {
							width: 60%;
						}
					}
				}
				div.advert {
					div.img {
						span {
							font-size: 5rem;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 960px) {
	#signinForm {
		width: 60%;
	}
	main {
		section.banner {
			div.content {
				h2 {
					font-size: 2rem;
				}
				p {
					width: 80%;
				}
			}
		}
		section.feat-prod {
			.wrapper {
				div.slider-arrows {
					div.arrows {
						width: 75%;
					}
					div.items {
						.screen {
							flex-wrap: wrap;
							justify-content: space-evenly;
							.item {
								width: 43%;
								margin: 1rem;
							}
						}
					}
				}
			}
		}
		section.benefits {
			.wrapper {
				div.card {
					width: 32%;
					img {
						width: 8rem;
						margin-right: 1rem;
					}
				}
			}
		}
	}
}
@media (max-width: 640px) {
	#signinForm {
		width: 80%;
		padding: 1.4285714286rem;
	}
	header {
		>.wrapper {
			a.logo {
				left: unset;
				right: 1rem;
				transform: translate(0, -50%);
			}
		}
	}
}
@media (max-width: 920px) {
	div#cookies {
		div.subwrapper {
			align-items: center;
			p {
				width: 100%;
			}
			button#accept-cookies {
				align-self: center;
				margin-top: 1rem;
			}
		}
	}
}
@media (max-width: 480px) {
	header {
		>.wrapper {
			nav {
				>ul {
					>li {
						padding: 0.7142857143rem;
					}
				}
				ul.nav-main {
					>li.menu-open {
						.menu {
							>.wrapper {
								width: 100%;
							}
							div.prod-cat {
								>div {
									padding: 0;
								}
							}
							div.sale {
								>ul {
									padding: 0;
								}
							}
							img {
								align-self: center;
								width: 80%;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 850px) and (max-width: 480px) {
	header {
		>.wrapper {
			nav {
				ul.nav-main {
					padding-bottom: 1rem;
				}
			}
		}
	}
}
@media (min-width: 851px) {
	header {
		>.wrapper {
			nav {
				ul.nav-main {
					>li {
						&:hover {
							background-color: #262a32;
							border-bottom: 0.3571428571rem solid #84bc22;
							* {
								color: $color-primary;
							}
						}
					}
					>li.menu-open {
						&:hover {
							.menu {
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 990px) {
	main {
		section.slider {
			.wrapper {
				.slider-dots {
					width: 70%;
					div.img {
						justify-content: space-between;
						padding: 2.1428571429rem 2.1428571429rem 4.2857142857rem;
						background-position-x: 100%;
						&:nth-child(2n) {
							align-items: flex-start;
							text-align: left;
						}
						&:nth-child(3n) {
							align-items: flex-start;
							text-align: left;
						}
						h3 {
							margin-bottom: 3.5714285714rem;
						}
						a {
							align-self: center;
						}
					}
					ul.dots {
						width: 100%;
					}
				}
				div.advert {
					width: 30%;
				}
			}
		}
	}
}
@media (max-width: 600px) {
	main {
		section.slider {
			.wrapper {
				.slider-dots {
					width: 100%;
					margin-right: 0;
					div.img {
						h3 {
							width: 80%;
							margin-bottom: 2.1428571429rem;
						}
						p {
							width: 80%;
						}
					}
				}
				div.advert {
					display: none;
				}
			}
		}
		section.pop-items {
			.wrapper {
				div.items {
					justify-content: center;
					.item {
						width: 80%;
					}
					.item.com {
						display: none;
					}
				}
			}
		}
	}
}
@media (max-width: 400px) {
	main {
		section.slider {
			.wrapper {
				.slider-dots {
					div.img {
						h3 {
							width: 100%;
						}
						p {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 440px) {
	main {
		section.pop-items {
			.wrapper {
				padding-bottom: 2.1428571429rem;
				div.items {
					min-height: 28.5714285714rem;
					.item {
						display: none;
						position: absolute;
						opacity: 0;
						visibility: hidden;
						&:nth-child(-n+5) {
							display: block;
						}
					}
					.item.active {
						position: relative;
						opacity: 1;
						visibility: visible;
					}
				}
				ul.future-dots {
					display: block;
				}
				button#loadMore {
					display: none;
				}
			}
		}
	}
}
@media (max-width: 740px) {
	main {
		section.pop-items {
			.wrapper {
				h2 {
					&:before {
						width: 33%;
					}
					&:after {
						width: 33%;
					}
				}
			}
		}
	}
}
@media (max-width: 1030px) {
	main {
		section.pop-items {
			.wrapper {
				div.items {
					.item {
						width: 31%;
					}
				}
			}
		}
	}
}
@media (max-width: 820px) {
	main {
		section.pop-items {
			.wrapper {
				div.items {
					.item {
						width: 46%;
						margin: 2%;
					}
				}
			}
		}
	}
}
@media (max-width: 580px) {
	main {
		section.feat-prod {
			display: none;
		}
	}
}
@media (max-width: 710px) {
	main {
		section.benefits {
			.wrapper {
				flex-direction: column;
				padding: 1.4285714286rem 0 1.4285714286rem;
				div.card {
					width: 100%;
					padding: 1.5rem 0;
					align-items: center;
					&:nth-child(2) {
						>img {
							order: 2;
							margin: 0 0 0 1rem;
						}
						>div.info {
							order: 1;
						}
					}
					img {
						width: 5rem;
					}
					h4 {
						margin-bottom: 0.8rem;
					}
				}
			}
		}
	}
}
@media (max-width: 710px) and (max-width: 450px) {
	main {
		section.benefits {
			.wrapper {
				div.card {
					&:nth-child(2) {
						>img {
							margin-left: 0 1rem 0 2rem;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 450px) {
	main {
		section.benefits {
			.wrapper {
				div.card {
					img {
						margin: 0 2rem 0 1rem;
					}
				}
			}
		}
	}
}
