@import "variables.scss";

$carousel-transition: opacity .3s easy;

* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: $font-primary, Arial, Helvetica, sans-serif;
	line-height: 1.2;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html {
    font-size: 13px;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

main {
    padding-top: 6rem;
    
}

footer {
    width: 1280px;
    text-align: center;
    margin: auto 0;
    color: $color-secondary;
    font-size: small;
    background-color: $color-primary;
 }

 .footer-row {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }

 .footer-col {
    margin: 30px 25px;
    h4 {
     font-family: $font-accent;
     font-size: 13px;
    }
    a {
        text-decoration: none;
        color: $color-secondary;
        opacity: 0.7;
    }
 }

 .footer-img {
     margin: 30px 10px;
    .fab, .far {
        color: $color-icons;
    }
}

 .footer-title {
     margin-bottom: 20px;
 }