@import "variables.scss";

$carousel-transition: opacity .3s easy;

* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: $font-primary, Arial, Helvetica, sans-serif;
	line-height: 1.2;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

main {
    padding-top: 5.9285714286rem;
	width: 1280px;
	margin: auto 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 60;
	background-color: $color-primary;
    border-bottom: 1px solid $color-form;
    margin: auto;
    width: 1280px;
	>.wrapper {
		display: flex;
		justify-content: space-between;
        align-items: end;
        height: 78px;
		a.logo {
			display: flex;
			align-self: center;
			text-decoration: none;
			img {
				width: 4.5714285714rem;
				height: 4.5714285714rem;
				margin-right: 5px;
			}
			div {
				h1 {
					font-size: 2.2857142857rem;
					letter-spacing: 6.33px;
					color: $color-logo;
				}
				h2 {
					font-size: 1.2857142857rem;
					color: $color-accent;
                }
                #osf {
                    font-size: 31.65px;
                    font-family: $font-accent;
                      color: $color-logo;
                      letter-spacing: 6px;
                      margin-left: -1px;
                }
                  
                #academy {
                    color: $color-accent;
					font-family: $font-primary;
					text-align: center;
                    margin-top: -7px;
                    font-size: 18px;
                    margin-left: -6px;
                }
			}
		}
		nav {
			>ul {
				display: flex;
				align-items: inherit;
				>li {
					display: inline-block;
					padding: 1.0714285714rem 1.4285714286rem 2.1428571429rem 1.4285714286rem;
					transition: all 0.3s ease;
					user-select: none;
					&:hover {
						color: $color-primary;
						margin-top: -1rem;
    					margin-bottom: 0.5rem;
					}
					>h2 {
						width: 100%;
						font-size: 1rem;
						>span.arrow-down {
							font-size: 0.7rem;
							margin-left: 0.5714285714rem;
							color: #45413e;
							opacity: 0.7;
						}
					}
				}
			}
			display: flex;
			justify-self: flex-end;
			justify-content: space-around;
			padding-top: 1rem;
			ul.nav-main {
				transition: all 0.3s ease;
				>li {
					text-transform: uppercase;
					border-bottom: 0.3571428571rem solid transparent;
				}
				>li.menu-open {
					z-index: 20;
					>li {
						border-bottom: 5px solid transparent;
						color: rgba(69, 65, 62, 0.5);
						&:hover {
							background-color: $color-back-accent;
							border-bottom: 5px solid $color-accent;
							color: $color-primary;
							* {
								color: $color-primary;
							}
						}
					}
					.menu {
						background-color: $color-back-accent;
						position: absolute;
						opacity: 0;
						visibility: hidden;
						top: 5.6rem;
						left: 0;
						right: 0;
						z-index: 50;
						transition: all 0.4s ease;
						transform: translateX(-1.6rem);
						>.wrapper {
							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							justify-content: space-between;
							padding-top: 2.1428571429rem;
							padding-bottom: 2.1428571429rem;
						}
						* {
							font-size: 1rem;
							color: $color-primary;
							text-align: left;
						}
						h3 {
							padding-bottom: 0.7142857143rem;
							>span.arrow-down {
								color: $color-primary;
								font-size: 0.7rem;
								float: right;
								transition: all 0.4s ease;
								opacity: 0;
							}
						}
						li {
							padding: 0.4285714286rem 0;
							text-transform: capitalize;
							transition: all 0.2s ease;
							&:hover {
								a {
									color: $color-accent;
								}
							}
						}
						.product {
							width: 40%;
							display: flex;
							flex-direction: column;
							>div {
								display: flex;
								flex-direction: row;
								flex-wrap: nowrap;
								justify-content: space-between;
							}
						}
						.sale {
							width: 10%;
							display: flex;
							flex-direction: column;
						}
						img {
							width: 30%;
							height: 100%;
							border-radius: 10px;
						}
					}
				}
			}
			ul.language {
				margin-right: 3.5714285714rem;
				* {
					color: #45413e;
				}
				>li {
					border-bottom: 5px solid transparent;
					color: rgba(69, 65, 62, 0.5);
					&:hover {
						background-color: $color-back-accent;
						border-bottom: 5px solid $color-accent;
						color: $color-primary;
						* {
							color: $color-primary;
						}
					}
				}
				>li.lang-open {
					z-index: 20;
					color: $color-icons;
					.lang-menu {
						background-color: $color-back-accent;
						position: absolute;
						opacity: 0;
						visibility: hidden;
						top: 5.6rem;
						z-index: 10;
						transition: all 0.4s ease;
						width: 6rem;
						transform: translateX(-1.6rem);
						li {
							padding: 0.4285714286rem 0;
							text-transform: capitalize;
							transition: all 0.2s ease;
							cursor: pointer;
							&:hover {
								opacity: 0.6;
							}
						}
					}
					.money-menu {
						background-color: $color-back-accent;
						position: absolute;
						opacity: 0;
						visibility: hidden;
						top: 5.6rem;
						z-index: 10;
						transition: all 0.4s ease;
						width: 9.2857142857rem;
						transform: translateX(-30%);
						color: $color-icons;
						li {
							padding: 0.4285714286rem 0;
							text-transform: capitalize;
							transition: all 0.2s ease;
							cursor: pointer;
							&:hover {
								opacity: 0.6;
							}
						}
					}
					&:hover {
						.lang-menu {
							opacity: 1;
							visibility: visible;
						}
					}
				}
				>li.money-open {
					z-index: 20;
					.lang-menu {
						background-color: $color-back-accent;
						position: absolute;
						opacity: 0;
						visibility: hidden;
						top: 5.9285714286rem;
						z-index: 10;
						transition: all 0.4s ease;
						width: 5.5714285714rem;
						transform: translateX(-1.2857142857rem);
						li {
							padding: 0.4285714286rem 0;
							text-transform: capitalize;
							transition: all 0.2s ease;
							cursor: pointer;
							&:hover {
								opacity: 0.6;
							}
						}
					}
					.money-menu {
						background-color: $color-back-accent;
						position: absolute;
						opacity: 0;
						visibility: hidden;
						top: 5.6rem;
						z-index: 10;
						transition: all 0.4s ease;
						width: 9.2857142857rem;
						transform: translateX(-30%);
						li {
							padding: 0.4285714286rem 0;
							text-transform: capitalize;
							transition: all 0.2s ease;
							cursor: pointer;
							&:hover {
								opacity: 0.6;
							}
						}
					}
					&:hover {
						.money-menu {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
			ul.nav-manage {
				>li {
					button {
						background-color: transparent;
						border: none;
						position: relative;
						cursor: pointer;
						svg {
							color: #45413e;
							opacity: 0.5;
							font-size: 1.7rem;
							path {
								transition: all 0.3s ease;
							}
							&:hover {
								path {
									color: $color-accent;
								}
							}
						}
					}
					a {
						background-color: transparent;
						border: none;
						position: relative;
						cursor: pointer;
						svg {
							color: #45413e;
							opacity: 0.5;
							font-size: 1.7rem;
							path {
								transition: all 0.3s ease;
							}
							&:hover {
								path {
									color: $color-accent;
								}
							}
						}
					}
					button#wishlist {
						>span {
							position: absolute;
							display: inline-block;
							top: -40%;
							right: -65%;
							font-size: 0.7rem;
							color: $color-accent;
							background-color: $color-primary;
							border: 0.15rem solid $color-accent;
							padding: 0.2142857143rem 0.4285714286rem;
							border-radius: 50%;
							z-index: 15;
						}
					}
					button#cart {
						>span {
							position: absolute;
							display: inline-block;
							top: -40%;
							right: -65%;
							font-size: 0.7rem;
							color: $color-accent;
							background-color: $color-primary;
							border: 0.15rem solid $color-accent;
							padding: 0.2142857143rem 0.4285714286rem;
							border-radius: 50%;
							z-index: 15;
						}
					}
					a#wishlist {
						>span {
							position: absolute;
							display: inline-block;
							top: -40%;
							right: -65%;
							font-size: 0.7rem;
							color: $color-accent;
							background-color: $color-primary;
							border: 0.15rem solid $color-accent;
							padding: 0.2142857143rem 0.4285714286rem;
							border-radius: 50%;
							z-index: 15;
						}
					}
					a#cart {
						>span {
							position: absolute;
							display: inline-block;
							top: -40%;
							right: -65%;
							font-size: 0.7rem;
							color: $color-accent;
							background-color: $color-primary;
							border: 0.15rem solid $color-accent;
							padding: 0.2142857143rem 0.4285714286rem;
							border-radius: 50%;
							z-index: 15;
						}
                    }
                    .fa, .fas {
                        font-weight: 900;
                        width: 20px;
                    }
                    .fa, .far, .fas {
                        font-family: "Font Awesome 5 Free";
						width: 21.5px;
						color: $color-icons;
                    }
				}
			}
		}
	}
}